/.idea
/.vs
/allure_reports
/api/__pycache__
/locators/__pycache__
/log
/pages/__pycache__
/settings/__pycache__
/settings/variables.py
/tests/__pycache__
/utils/exception_handler/__pycache__
/utils/__pycache__
/allure_results
/tests/0prepare/__pycache__
/tests/2workflow/action_task/__pycache__
/tests/2workflow/automatizations/__pycache__
/tests/2workflow/checking_sections/__pycache__
/tests/2workflow/processes_editor/__pycache__
/tests/2workflow/processes_section/__pycache__
/tests/2workflow/roles_and_access/__pycache__
/tests/2workflow/sending_for_approval/__pycache__
/tests/2workflow/task_approval/__pycache__
/tests/2workflow/variables_and_conditions/__pycache__
/tests/1base/docx/__pycache__
/tests/1base/docz/__pycache__
/tests/1base/dotx/__pycache__
/tests/1base/folders/__pycache__
/tests/1base/publish/__pycache__
/tests/1base/share_drives/__pycache__
