/.idea
/.pytest_cache
/env
/.vs
/results/img
/settings/__pycache__
/tests/__pycache__
/utils/__pycache__
/reports/report_2025-04-10.docx
/reports
/allure-results
/allure_reports
/exceptionHandler/__pycache__
/pages/__pycache__
/utils/exception_handler/__pycache__
/locators/__pycache__
/allure_results
/tests/check_url/__pycache__
/log
/tests/workflow/checking_sections/__pycache__
/tests/workflow/processes_section/__pycache__
/resources/downloads
/settings/variables.py
/resources/drivers
/settings/variables.py
/settings/variables.py
/tests/workflow/processes_editor/__pycache__
/tests/workflow/action_task/__pycache__
/tests/workflow/8_action_task/__pycache__
/tests/workflow/checking_sections/__pycache__/test_side_menu_my_tasks.cpython-313-pytest-8.3.5.pyc
/tests/workflow/checking_sections/__pycache__/test_side_menu_workflows.cpython-313-pytest-8.3.5.pyc
/tests/workflow/checking_sections/__pycache__/test_workflow_administration_menu.cpython-313-pytest-8.3.5.pyc
/tests/workflow/processes_section/__pycache__/test_copy_link.cpython-313-pytest-8.3.5.pyc
/tests/workflow/processes_section/__pycache__/test_copy_process.cpython-313-pytest-8.3.5.pyc
/tests/workflow/processes_section/__pycache__/test_create_process.cpython-313-pytest-8.3.5.pyc
/tests/workflow/processes_section/__pycache__/test_download_process.cpython-313-pytest-8.3.5.pyc
/tests/workflow/processes_section/__pycache__/test_open_process.cpython-313-pytest-8.3.5.pyc
/tests/workflow/processes_section/__pycache__/test_remove_restore.cpython-313-pytest-8.3.5.pyc
/tests/workflow/processes_section/__pycache__/test_rename_process.cpython-313-pytest-8.3.5.pyc
/tests/workflow/processes_section/__pycache__/test_share_process.cpython-313-pytest-8.3.5.pyc
