# Основные библиотеки для тестирования
# Фреймворк для тестирования
pytest>=7.0.0
# Автоматизация браузера
selenium>=4.0.0
# Автоподбор драйверов браузера
webdriver-manager>=3.8.6

# Для отчетов и анализа результатов
# Фреймворк для статистики
allure-pytest>=2.13.0
#test